---
import Header from "../components/Header.astro";
import LinksContainer from "../components/LinksContainer.astro";
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="m-auto max-w-screen-xl">
    <Header />
    <Social />
    <LinksContainer />
  </main>
</Layout>
