---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Social from "../components/Social.astro";
import LinksContainer from "../components/LinksContainer.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="mx-auto flex h-screen max-w-screen-xl flex-col justify-between">
    <div>
      <Header />
      <Social />
    </div>
    <main class="m-auto">
      <LinksContainer />
    </main>
    <Footer />
  </div>
</Layout>
