---
import { Image } from "astro:assets";
import { AVATAR_IMG, PROFILE_NAME } from "../utils/config";
import { getUserInitials } from "../utils/helper";

const userInitials = getUserInitials(PROFILE_NAME);
---

<div class="flex justify-center">
  {
    AVATAR_IMG ? (
      <div class="-mb-20">
        <Image
          src={AVATAR_IMG}
          width="160"
          height="160"
          alt="profile image"
          class="mask mask-circle"
        />
      </div>
    ) : (
      <div class="mask mask-circle -mb-20 flex h-40 w-40 items-center justify-center bg-neutral">
        <div class="flex items-center justify-center text-neutral-content">
          <span class="text-3xl">{userInitials}</span>
        </div>
      </div>
    )
  }
</div>
