---
import { PROFILE_NAME, PROFILE_TITLE } from "../utils/config";
import Avatar from "./Avatar.astro";
import ThemeController from "./ThemeController.astro";
---

<div class="hero relative bg-base-200">
  <div class="absolute right-0 top-0">
    <ThemeController />
  </div>
  <div class="hero-content text-center">
    <div class="max-w-md lg:max-w-xl">
      <div class="pb-6 pt-4">
        <h1 class="text-4xl font-bold">{PROFILE_NAME}</h1>
        <p class="px-4 py-4 text-xl opacity-50">
          {PROFILE_TITLE}
        </p>
      </div>
      <Avatar />
    </div>
  </div>
</div>
