---
import { LINKS_LIST } from "../utils/config";
---

<div class="lg:mx-0">
  <ul class="flex flex-col gap-6">
    {
      LINKS_LIST.slice(0, 5).map((item) => (
        <li>
          <a
            href={item.link}
            target="_blank"
            class="btn w-80 uppercase lg:w-96"
          >
            <span class="opacity-80">{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>
