---
const btnTexts = [
  "Book a free consultation",
  "Join my VIP community",
  "Listen to my podcast",
  "Get in touch with me",
];
---

<div class="mx-8 flex flex-col justify-center gap-5 lg:mx-auto lg:max-w-lg">
  {
    btnTexts.map((text) => (
      <a href="#" target="_blank" class="btn uppercase">
        <span class="opacity-80">{text}</span>
      </a>
    ))
  }
</div>
