---
import { Icon } from "astro-icon/components";
import { SOCIAL_ICONS } from "../utils/config";
import { getActiveIcons } from "../utils/helper";

const activeIcons = getActiveIcons(SOCIAL_ICONS);
---

<div class="mb-5 mt-20 py-2">
  <ul class="mx-auto flex justify-center gap-1">
    {
      activeIcons.map((icon) => (
        <li>
          <a class="btn btn-ghost text-accent">
            <Icon name={icon.id} width={26} height={26} />
          </a>
        </li>
      ))
    }
  </ul>
</div>
